/*
  This part was made for cand_number 114
*/

@font-face {
  font-family: "viking-normalregular";
  src: url("../fonts/viking-normal-webfont.woff2") format("woff2"),
    url("../fonts/viking-normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nordica_plnordicaclassicrgext";
  src: url("../fonts/nordicaclassicrgext-webfont.woff2") format("woff2"),
    url("../fonts/nordicaclassicrgext-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nordica_pnordicaclassicrgcond";
  src: url("../fonts/nordicaclassicrgcond-webfont.woff2") format("woff2"),
    url("../fonts/nordicaclassicrgcond-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  background-color: #73544d;
  background-image: url("../images/leather.png");
  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../images/back.jpg"); 
  background-size: 100vw 75vh;
  height: 20vh;
  position: relative;
  padding-bottom: 20vh;
}
nav {
  height: 10vh;
  width: 100%;
}

#navId {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 0;
}

#navId li {
  list-style: none;
  font-family: "nordica_pnordicaclassicrgcond", "Sans-serif", "Arial";
}

.nav_li{
  padding: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}


details {
  font-family: "nordica_pnordicaclassicrgcond", "Sans-serif", "Arial";
}

details > summary::-webkit-details-marker {
  display: none;
}

#unicodeLi {
  padding: 1.4em;
}

.countries {
  padding: 0.5em;
}

h1 {
  font-family: "viking-normalregular", "Arial", "Sans-serif";
  font-size: 1.5em;
  padding-left: 0.5em;
}

h2 {
  font-family: "viking-normalregular", "Arial", "Sans-serif";
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#pics_email li {
  display: flex;
  flex-direction: column;
}

p {
  font-family: "Open Sans", "Sans-serif", "Arial";
  font-size: 1em;
  margin-bottom: 10vh;
}

#intro_text {
  max-width: 40vw;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
}

img{
  width: 350px;
  height: 300px;
}

form {
  width: 50vw;
  margin: 0.5vw;
  background: rgba(0, 0, 0, 0.2);
}

textarea,
input {
  width: 45vw;
  margin-bottom: 2vh;
  margin-left: 2vh;
  box-sizing: border-box;
  font-size: 1.5vw;
  
}

textarea{
  min-height: 20vh;
  max-height: 50vh;
  max-width: 45vw;
  min-width: 45vw;
}

#button{
  background: rgb(192, 192, 192);
  padding: 0.5vw;
}

#button:hover{
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:link {
  color: #ffffff;
}

footer{
  background: #455159;
  margin-bottom: 0;
  padding-bottom: 0;
  height: 90px;
}

footer p{
  margin-bottom: 0;
}

footer img{
  width: 25px;
  height: 25px;
}

#join_footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}



@media only screen and (max-width: 600px) {
  #navId {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 2vh;
    padding-left: 0;

    width: 100%;
  }

  #aboutUs {
    margin-left: auto;
  }

  li {
    padding: 0.5em;
  }

  #unicodeLi {
    padding: 0.3em;
  }

  #intro_text{
    max-width: 80vw;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
  }


  #pics_email {
    display: flex;
    flex-direction: column;
  }

  .contactImage {
    display: block;
    min-width: 150px;
    max-width: 200px;
    height: auto;
  }

  form {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
  }

  textarea, input {
    font-size: 2.5vw;
    margin-left: 12vw;
  }

  details{
    margin-top: 2vh;
  }
}