/**
    This part (fonts, color) was made by candidate number 114
    General style was made between candidate 114 and 124
**/

@font-face {
  font-family: "viking-normalregular";
  src: url("../fonts/viking-normal-webfont.woff2") format("woff2"),
    url("../fonts/viking-normal-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nordica_plnordicaclassicrgext";
  src: url("../fonts/nordicaclassicrgext-webfont.woff2") format("woff2"),
    url("../fonts/nordicaclassicrgext-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "nordica_pnordicaclassicrgcond";
  src: url("../fonts/nordicaclassicrgcond-webfont.woff2") format("woff2"),
    url("../fonts/nordicaclassicrgcond-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  padding: 0;
  margin: 0;
  background-color: #73544d;
  background-image: url("../images/leather.png");
  color: #ffffff;
}

body {
  padding: 0;
  margin: 0;
}

header {
  background-image: url("../images/back.jpg"); 
  background-size: 100vw 75vh;
  height: 20vh;
  position: relative;
  padding-bottom: 20vh;
}
nav {
  height: 10vh;
  width: 100%;
}

#navId {
  display: flex;
  justify-content: flex-end;
  background-color: rgba(0, 0, 0, 0.4);
  margin-top: 0;
}

#navId li {
  list-style: none;
  font-family: "nordica_pnordicaclassicrgcond", "Sans-serif", "Arial";
}

details {
  font-family: "nordica_pnordicaclassicrgcond", "Sans-serif", "Arial";
}

details > summary::-webkit-details-marker {
  display: none;
}

h1 {
  font-family: "viking-normalregular", "Arial", "Sans-serif";
  font-size: 1.5em;
  padding-left: 0.5em;
}

h2 {
  font-family: "viking-normalregular", "Arial", "Sans-serif";
}

#special{
  width: 200px;
  height: 200px;
}

#ship_image{
  width: 200px;
  height: 140px;
}

img {
  width: 200px;
  height: auto;
  margin-bottom: 2vh;
}

p {
  font-family: "Open Sans", "Sans-serif", "Arial";
  font-size: 1em;
  margin-bottom: 10vh;
}

#intro_text {
  max-width: 90%;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
}

#main_text{
  max-width: 40vw;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vw;
}

.nav_li{
  padding: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#unicodeLi {
  padding: 1.4em;
}

.countries {
  padding: 0.5em;
}

a {
  text-decoration: none;
  color: #ffffff;
}

a:link {
  color: #ffffff;
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}


/*
  Starting the timeline
*/

.timeline{
  display: flex;
  position: relative;
  max-width: 40vw;
  margin: 0 auto;
  flex-direction: row;
  justify-content: space-evenly;
}

.timeline::after{
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;

}

.historicalParagraph {
  padding-right: 3vw;
  position: relative;
  background-color: inherit;
  width: 20vw;
  margin-right: 2vw;
}

.historicalParagraph::after{
  content: '';
  position: absolute;
  width: 1vw;
  height: 2vh;
  left: 19.4vw;
  background-color: white;
  border: 4px solid #FF9F55;
  top: 2vh;
  border-radius: 1%;
  z-index: 1; 
}




/**
    This part (responsivity) was made by candidate number 124
**/
@media only screen and (max-width: 600px) {
  #navId {
    display: flex;
    justify-content: flex-start;
    margin-top: 0;
    padding-top: 2vh;
    padding-left: 0;

    width: 100%;
  }

  #aboutUs {
    margin-left: auto;
  }

  li {
    padding: 0.5em;
  }

  #unicodeLi {
    padding: 0.3em;
  }

  #h1Top {
    display: block;
  }

  #main_text{
    max-width: 80vw;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4vw;
  }

  .historicalParagraph {
    max-width: 200px;
    padding-left: 0.5em;
  }

  img {
    display: none;
  }

  #sweedishIntro {
    display: none;
  }

  ul {
    padding: 0;
  }

  h2 {
    align-self: center;
    text-align: center;
    font-size: 1.4em;
  }

}
