@font-face {
  font-family: 'norseregular';
  src: url('../fonts/norse-webfont.woff2') format('woff2'),
       url('../fonts/norse-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'norsebold';
  src: url('../fonts/norse-bold-webfont.woff2') format('woff2'),
      url('../fonts/norse-bold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'viking-normalregular';
  src: url('../fonts/viking-normal-webfont.woff2') format('woff2'),
       url('../fonts/viking-normal-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'viking_hellregular';
  src: url('../fonts/viking_hell-webfont.woff2') format('woff2'),
       url('../fonts/viking_hell-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

html {
  padding: 0;
  margin: 0;
}

nav {
  height: 10vh;
  width: 100vw;
}

#navId {
  display: flex;
  justify-content: flex-end;
}

#navId li {
  margin-right: 2vw;
  list-style: none;
}

h1{  
  font-family: 'viking-normalregular', 'Arial', 'Sans-serif';
}

p{
  font-family: 'viking-normalregular', 'Arial', 'Sans-serif';
}
#intro_text{
	max-width: 80vw;
	align-content: center;
	margin-left: auto;
  margin-right: auto;
  font-family: 'viking_hellregular', 'Arial', 'Sans-serif';
}

li {
  padding: 1.6em;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
  color: black;
}

a:link {
  color: blue;
}

a:visited {
}

a:focus {
}

a:hover {
}

a:active {
}

.historicalParagraph {
  max-width: 300px;
}

@media only screen and (max-width: 600px) {
  li {
    padding: 0;
    padding-right: 1vw;
  }

  #navId {
    display: flex;
    justify-content: center;
  }

  .historicalParagraph {
    max-width: 200px;
  }

  img{
	display: none;
  }
}
